// nextflow.config


params {
	samplesheet = "./samplesheet.csv"
	outdir = "./results"
	threads = 24
	multiqc_container = "docker://quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
	fastp_container = "quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
	jq_container = "quay.io/biocontainers/jq:1.6"	
}

process {
    withLabel: 'process_merge_summaries' {
	publishDir = [path: 'results/summary', mode: 'copy']
    }
    withLabel: 'process_summary' {
        publishDir = [path: 'results/summary', mode: 'copy']
    }
    withLabel: 'process_multiqc' {
        publishDir = [path: 'results/multiqc', mode: 'copy']
    }
    withLabel: 'process_fastp' {
        publishDir = [path: 'results/fastp', mode: 'copy']
        cpus = params.threads
    }
}

profiles {
    standard {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "./singularity/"
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'shared'
        process.memory = '49.GB'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "./singularity/"
    }
}

