// nextflow.config

params {
	samplesheet = "./samplesheet.csv"
	outdir = "./results"
	threads = 24
	multiqc_container = "docker://quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
	fastp_container = "quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
	jq_container = "quay.io/biocontainers/jq:1.6"
}

process {
    withLabel: 'process_merge_summaries' {
	publishDir = [path: 'results/summary', mode: 'copy']
    }
    withLabel: 'process_summary' {
        publishDir = [path: 'results/summary', mode: 'copy']
    }
    withLabel: 'process_multiqc' {
        publishDir = [path: 'results/multiqc', mode: 'copy']
    }
    withLabel: 'process_fastp' {
        publishDir = [path: 'results/fastp', mode: 'copy']
        cpus = params.threads
    }
}

profiles {
    standard {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "./singularity/"
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'shared'
        process.memory = '49.GB'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "./singularity/"
    }
}

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
	enabled = true
	file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
        name        = 'nf-fastp'
	author      = """Javier Carpinteyro-Ponce"""
	homePage    = 'https://github.com/javibio-git/nf-fastp' 
        description = 'A fastp-based pre-processing pipeline'
	mainScript  = 'main.nf'
	nextflowVersion = '!>=24.10.5'
        version     = '1.0.0'

}
