params.samplesheet = "data/samplesheet.csv"

process {
    executor = 'slurm'
    cpus = 16
    memory = '20 GB'
    time = '24h'
    container = "quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
}

process.multiqc.container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "\$baseDir/singularity"
}

